@model IEnumerable<webbds.Models.BatDongSan>

@{
    ViewBag.Title = "AllProperties";
    Layout = "~/Views/Shared/NguoiDung_Layout.cshtml";
}

<div class="container mt-5">
    <h2>Dự án</h2>
    <hr />

    <div class="row">
        @foreach (var property in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@Url.Content(property.Anh)" class="card-img-top" alt="Property Image">
                    <div class="card-body">
                        <h5 class="card-title">@property.TieuDe</h5>
                        <p class="card-text">@property.MoTa</p>
                        <p class="card-text">Gia: @property.Gia</p>
                        <a href="@Url.Action("CT_BDS", "Home", new { id = property.MaBatDongSan })" class="btn btn-primary">xem chi tiết</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>