@model webbds.Models.LienHeNguoiDung

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/NguoiDung/Create.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LienHeNguoiDung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayLienHe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLienHe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatDongSan.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatDongSan.TieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.TaiKhoan1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.TaiKhoan1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaLienHe }) |
    @Html.ActionLink("Back to List", "Index")
</p>
