@model webbds.Models.NhanXet

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/NguoiDung_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NhanXet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DanhGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BinhLuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BinhLuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatDongSan.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatDongSan.TieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.Ten)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
