@model IEnumerable<webbds.Models.MoiGioi>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/NguoiDung_Layout.cshtml";
}

<div class="container pt-4">
    @foreach (var moiGioi in Model)
    {
        <a style="text-decoration: none !important; color:black" href="@Url.Action("MyProperties1", "Home", new { id = moiGioi.MaDaiLy})">
            <div class="border mb-4">
                <div class="row">
                    <div class="col-sm-3 bg-white text-white">
                        <img src="https://st.quantrimang.com/photos/image/072015/22/avatar.jpg" class="rounded-circle" alt="MoiGioi Image" width="200" height="150" style="padding: 15px">
                    </div>
                    <div class="col-sm-9 bg-white text-dark">
                        <h3>@moiGioi.Ten</h3>
                        <p>@moiGioi.Email</p>
                        <p>@moiGioi.DienThoai</p>
                        <p>@moiGioi.DiaChi</p>
                    </div>
                </div>
            </div>
        </a>
            }
    </div>

